.actividad {
  padding: 1rem;
}
.problemas label {
  display: block;
  margin-bottom: 0.5rem;
}
.colores {
  margin: 1rem 0;
  display: flex;
}
.color {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  margin-right: 8px;
  opacity: 0.3; /* apariencia bloqueada */
  background-color: gray; /* todos inician grises */
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}
.color.unlocked {
  opacity: 1;
  cursor: pointer;
  border: 2px solid black;
}
#pixel-art {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  gap: 2px;
}
.pixel.coloreado {
  cursor: default;
}
.pixel-grid {
  display: grid;
  grid-template-columns: repeat(16, 35px); /* ajustado al nuevo tamaño */
  grid-template-rows: repeat(16, 35px);
  gap: 1px;
  margin-top: 1rem;
}
.pixel[data-num='0'] {
  background-color: transparent;
  border: none;
  cursor: default;
}
.coloreado {
  pointer-events: none;
}

.pixel {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #eee;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #555;
  cursor: pointer;
}


.pixel[data-num="1"].unlocked { background-color: #5C4033	; } /* Marrón oscuro */
.pixel[data-num="2"].unlocked { background-color: #D2B48C	; } /* Marrón claro */
.pixel[data-num="3"].unlocked { background-color: #000000; } /* Negro */
.pixel[data-num="4"].unlocked { background-color: #704f3f	; } /* Rosa claro */
.pixel[data-num="5"].unlocked { background-color: #FFF8DC	; } /* Beige claro */
.pixel[data-num="6"].unlocked { background-color: #ffffff	; } /* Blanco */


